<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

	<display-name>Issue Tracker App</display-name>
	
    <!--Allow when there are no users, to create one. Not to use except for creating users.-->
    <context-param>
        <param-name>administrator.username</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>administrator.password</param-name>
        <param-value>admin</param-value>
    </context-param>

    <!--RUN ONCE ONLY TO INIT DB THEN CHANGE VALUE!=true-->
    <!--if db is init old tables are dropped along with data stored-->
    <context-param>
        <param-name>initializeDB</param-name>
        <param-value>false</param-value>
    </context-param>
    <!--RUN ONCE ONLY TO INIT DB THEN CHANGE VALUE TO != true-->
    <context-param>
        <param-name>update.hour</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>update.minute</param-name>
        <param-value>30</param-value>
    </context-param>
    <!--Attributes for the MAIL DISPATCHER. Set the desired hours and minutes for the mails to be received-->


</web-app>
